body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#nebula1 {
	float: left;
	height: 250px;
	padding: 10px 10px 10px 0px;
}

#nebula2 {
	height: 250px;
	float: right;
	padding: 10px 0px 10px 10px;
}