body {
  background-color: #308FEA;
}

/* Logo */
.logo {
  text-align: center;
  margin-top: 100px;
}
.logo > img {
  height: 35px;
  margin-bottom: 20px;
}

/* Form Container */
.formContainer {
  position: fixed;
  left: 35%;
  width: 400px;
  height: 600px;
  background-color: white;
  padding: 0px 40px 0px 40px;
  border-radius: 5px;
}