html  {
  font-family: Arial;
}
nav {
  position: fixed;
  background-color: lightgray;
  width: 100%;
  padding-top: 10px
}
#home {
  color: black;
  padding-left: 10px;
  font-weight: bold;
  position: absolute;
}
.nav_links {
  list-style: none;
  color: purple;
  padding-right: 10px;
  text-align: right;
}
.nav_links > li {
  display: inline-block;
  padding-right: 20px;
}
.search {
  padding-top: 100px;
  padding-left: 75px;
}
.search input {
  height: 45px;
}
#searchbox {
  width: 500px;
  padding-left: 20px;
}
#magnifying-glass {
  width: 45px;
  height: auto;
  border: 1px solid lightgray;
  position: fixed;
  margin-left: 4px;
}
#search_label {
  display: block;
}
.pagination {
  border: 1px solid gray;
  height: 50px;
  margin: 20px;
  width: 300px;
}
.block {
    display: inline-block;
    margin: auto;
}