nav	{
	border: 1px solid black;
	display: fixed;
	padding-right: 60px;
	padding-left: 60px;
	background-color: gray;
	padding-top: 10px; 
}

li {
	display: inline-block;
	margin-left: 30px;
}
li::after {
	content: "|";
	padding-left: 10px;
}

#icon {
	height: 40px;
	position: absolute;
	border-radius: 60%;
	border: 1px solid black;
}
.greenbox {
	border: 10px dotted green;
	height: 300px;
	width: 600px;
	margin: 0 auto;
	position: relative;
  	top: 50%;
  	transform: translateY(50%);
}
#cat, #dog {
	height: 200px;
	width: 200px;
}
#cat {
	position: relative;
	bottom: 120px;
	right: 120px;
}
#dog {
	position: absolute;
	left: 450px;
}